<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<header>
			<div class="menu">
				<h1>
					<a href="">Chris Loughney</a>
				</h1>
				<ul>
					<li>
						<a href="//blog.chrisloughney.com">Blog</a>
					</li>
					<li>
						<a href="#">Playground</a>
					</li>
					<li>
						<a href="#">Resume</a>
					</li>
				</ul>
			</div>
			<div class="banner">
				<div class="bio">
					<div class="image">
						<img src="images/me.png" />
					</div>
					<div class="featured">
						<div class="console" id="app">
							$&gt; test
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="content container">
			<section class="feed">
				<ul class="list-inline list-unstyled">
					<li>
						<div class="card layer-2 news">
							<article>
								<h1>Test Title</h1>
								<img src="images/green.png" />
								<section>
									test
								</section>
							</article>
						</div>
					</li>
					<li>
						<div class="card layer-2 news">
							<article>
								<h1>Test Title</h1>
								<img src="images/pink.png" />
								<section>
									test
								</section>
							</article>
						</div>
					</li>
					<li>
						<div class="card layer-2 news">
							<article>
								<h1>Test Title</h1>
								<img src="images/blue.png" />
								<section>
									test
								</section>
							</article>
						</div>
					</li>
					<li>
						<div class="card layer-2 news">
							<article>
								<h1>Test Title</h1>
								<img src="images/green.png" />
								<section>
									test
								</section>
							</article>
						</div>
					</li>
				</ul>
			</section>
		</div>

		<% if (webpackConfig.isDevelopment) { %>
	    <script src="/webpack-dev-server.js"></script>
	    <% } %>
	</body>
</html>
