<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<header class="container">
			<h1>Chris Loughney</h1>
			<ul>
				<li>
					<a href="#">Blog</a>
				</li>
				<li>
					<a href="#">Playground</a>
				</li>
				<li>
					<a href="#">Resume</a>
				</li>
			</ul>
		</header>
		<div class="container">
			<section class="feed">
				<ul class="list-inline list-unstyled">
					<li>
						<div class="card layer-2 flat console">
							<div>
								$&gt;&nbsp;
							</div>
						</div>
					</li>
					<li class="colspan-2">
						<div class="card layer-2 news">
							<article>
								<h1>Test Title</h1>
								<img src="images/green.png" />
								<section>
									test
								</section>
							</article>
						</div>
					</li>
					<li>
						<div class="card layer-2 news">
							<article>
								<h1>Test Title</h1>
								<img src="images/pink.png" />
								<section>
									test
								</section>
							</article>
						</div>
					</li>
					<li>
						<div class="card layer-2 news">
							<article>
								<h1>Test Title</h1>
								<img src="images/blue.png" />
								<section>
									test
								</section>
							</article>
						</div>
					</li>
					<li>
						<div class="card layer-2 news">
							<article>
								<h1>Test Title</h1>
								<img src="images/green.png" />
								<section>
									test
								</section>
							</article>
						</div>
					</li>
				</ul>
			</section>
		</div>

		<% if (webpackConfig.isDevelopment) { %>
	    <script src="/webpack-dev-server.js"></script>
	    <% } %>
	</body>
</html>
