body .sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0px;
	right: 80%;

	a:link {
		text-decoration: none;
	}

	.bio {
		a {
			line-height: normal;
			padding: 0;

			img {
				@extend .img-responsive, .img-circle, .center-block;

				width: 60%;
				height: 60%;
				margin-top: 15px;
			}
		}
	}

	.title {
		margin: -80px 0 45px;
		text-align: center;
		font-size: 2em;
		cursor: default;

		> a {
			color: #fff;
			text-shadow: #666 1px 1px 1px;
		}
	}

	.menu {
		margin-right: 0px;

		ul {
			@extend .list-unstyled;

			.menu-item {
				margin: 0 0 0 15px;
				padding: 5px 0;

				a {
					margin: 0 15px;
					border-bottom: 2px solid #fff;

					cursor: pointer;
					font-size: 1.5em;
					color: #555;
					text-shadow: #ddd 1px 1px 1px;
					transition: 200ms;

					i {
						margin-right: 7px;
						color: #888;
						text-shadow: none;
					}

					&.highlight {
						color: $color-secondary;

						i {
							color: #888;
						}
					}

					&.active, &:hover {
						border-bottom: 2px solid $color-primary;
						color: #333;

						i {
							color: $color-primary;
						}
					}
				}
			}
		}
	}

	.social {
		position: absolute;
		bottom: 15px;
		left: 0px;
		right: 0px;

		margin: 0 15px;
		padding: 5px 0;
		font-size: 18px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;

		a {
			&:link, &:visited, &:active {
				color: #555;
				text-shadow: #ddd 1px 1px 1px;
			}

			i {
				color: #628fb7;
				margin-right: 7px;
			}
		}
	}
}
