/* external libs */

//css-loader cwd is the project root dir, so we need to correct external font paths
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '~font-awesome/fonts';

/* colors */

$body-color: #fff;
$primary-color: hsl(189deg, 77%, 58%);
$primary-color-alt: desaturate($primary-color, 30%);

$secondary-color: #93ecd7;
$secondary-color-alt: desaturate($secondary-color, 30%);

$color-background-body: #f9f9f9;
$color-background-content: #fff;
$color-text: #666;
