.content-wrapper {
	position: absolute;
	top: 15px;
	bottom: 15px;;
	right: 15px;
	left: 20%;

	border: 1px solid #ddd;

	.shade {
		position:absolute;
		z-index: 999;
		top:0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		display: none;

		background: lightblue;
		padding: 15px;
		opacity: 0.90;
		filter: alpha(opacity=90);
		font-family: 'Open Sans';
	}

	.content {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: #fff;

		> div.expanded {
			width: 100%;
			height: 100%;
		}
	}
}
