body > .content {
	div.resume {
		@extend .card;

		padding: 25px;

		div.download {
			text-align: center;

			a {
				@extend .btn, .btn-lg;

			 	font-size: 1.5em;

				> span {
				 @extend .glyphicon, .glyphicon-file;
				}
			}
		}
	}
}
