@import 'variables';

@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

@import 'material/card';

@import 'components/console';
@import 'components/feed';
@import 'content';
@import 'sidebar';

@import 'pages/resume';
@import 'pages/showcase';

body {
	font-family: 'Source Sans Pro';
	background: #fff;
	color: $color-text;
	border-top: 3px solid $color-primary;

	a {
		&:link {
			line-height: 1.5em;
			padding: 0px 3px;
			//background: lightblue;
			color: lightblue;
			text-decoration: none;

			&.big {
				font-size: 1.3em;
			}
		}

		&:visited, &:active {
			color: lightblue;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		font-size: 1.3em;
		line-height: 1.5em;
		word-spacing: 0.1em;
	}
}
