{{#> common/layout htmlWebpackPlugin.options }}
<div class="resume">
	<p>
		I am a full-stack software developer based in Los Angeles, CA.
		I'm a motivated and passionate individual driven by my curiosity and perpetual desire to improve myself and the projects that I take on.
		I have been intrigued by the power of software since I started scripting at a young age and that still motivates me to this day. 
		I have experience working with emerging businesses in need of small landing pages; designing and constructing large, complex web applications for some of the biggest names across multiple industries; and everything in between.
	</p>
	<hr />
	<div class="download">
		<p>
			If you're interested in taking a look at my work history you can download my full resume below.
		</p>
		<a href="//cloud.krik.co/files/index.php/s/8tNFC98wAGrtjoM/download" role="button">
			<span aria-hidden="true"></span>
			Download Resume
		</a>
	</div>
</div>
{{/ common/layout }}
