{{#> common/layout htmlWebpackPlugin.options }}
<div class="resume">
	<p>
		I am a full-stack software developer based in Los Angeles, CA. I’m a motivated and passionate individual driven by my curiosity and everlasting wonder of technology. I have been intrigued by software since I started scripting at 15 years old, and from this point on have always known that there was only one profession that would allow me to do what I love. I have worked my way up from answering phone calls, to creating websites for individual clients and small businesses, to designing and constructing large, complex web applications for some of the biggest names across multiple industries.
	</p>
	<hr />
	<div class="download">
		<p>
			If you're interested in taking a look at my work history you can download my full resume below.
		</p>
		<a href="//cloud.krik.co/files/index.php/s/8tNFC98wAGrtjoM/download" role="button">
			<span aria-hidden="true"></span>
			Download Resume
		</a>
	</div>
</div>
{{/ common/layout }}
