$banner-height: 225px;
$banner-margin-bottom: 10px;
$banner-img-size: 350px;
$banner-img-offset-x: 65px;
$banner-img-offset-y: -35px;

@import 'menu.scss';
@import 'banner.scss';

@function header-bottom-margin($offset: 0) {
	@return $banner-img-size + $banner-img-offset-y - $banner-height + $banner-margin-bottom + $offset
}

body {
	> header {
		margin-bottom: header-bottom-margin();
		background: #5e646d;
	}
}

@media (max-width: $screen-xs-max) {
	body {
		> header {
			margin-bottom: header-bottom-margin(-35);
		}
	}
}
