<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="An online portfolio and resume for Chris Loughney">
		<meta name="author" content="Chris Loughney">
		<meta name="keywords" content="chris,loughney,chris loughney,christopher loughney,blog">
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		{{> layout/sidebar pageOptions }}

		<div class="content-wrapper">
			<div class="shade">
				<div style="padding: 20%; color: white; font-size: 96px; font-weight: bold;"></div>
			</div>

			<div class="content">
				{{> @partial-block }}
			</div>
		</div>

		{{# if pageOptions.includeDevServer }}
	    <script src="/webpack-dev-server.js"></script>
		{{/ if}}
	</body>
</html>
