.content > .resume {
	padding: 25px;

	div.download {
		@include fancy-buttons;

		text-align: center;

		a {
			margin: 20px 0;

			> i {
				@extend .glyphicon;
				@extend .glyphicon-file;
			}
		}
	}
}
