.content > .showcase {
	.console {
		width: 100%;
		height: 100%;
		padding: 10px;

		font-size: 1.1em;
	}

	.activity {
		.titlebar {
			padding: 5px;
			background: #ddd;

			.title {
				display: inline;
				font-size: 1em;
				line-height: 1.8em;
			}

			button {
				@extend .pull-right;
				margin-left: 5px;
				font-size: 1em;
				line-height: 1.8em;

				&.close {

				}
			}
		}
	}
}
