@mixin fancy-buttons {
    @mixin button-overrides {
        border: none;
        border-radius: 0;
        background: linear-gradient(adjust-hue($primary-color, -7deg), $primary-color);
    }

    a[role=button], button {
        @extend .btn; 
        @extend .btn-default;
        @include button-overrides;
    
        $text-color: hsla(0, 0, 100%, 0.95);
        $text-shadow: 1px 1px 1px #666;

        color: $text-color;
        text-shadow: $text-shadow;
        font-weight: bold;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        user-select: none;
        transition: 200ms;
        padding: 10px;
    
        &.large {
            @extend .btn-lg;
            @include button-overrides;
            font-size: 1.5em;
        }
    
        &:hover {
            transform: translateY(-2px);
            filter: brightness(110%);
            box-shadow: 0 4px 7px rgba(0, 0, 0, 0.16), 0 4px 7px rgba(0, 0, 0, 0.23);
            color: $text-color;
            text-shadow: $text-shadow;
        }
    }
}