@mixin fancy-links {
	$text-color: #555;
	$text-hover-color: #222;
	$icon-color: #aaa;

	@mixin hover-state {
		border-bottom: 2px solid $primary-color;
		color: $text-hover-color;

		i { color: $primary-color; }
	}

	a {
		text-decoration: none;
		cursor: pointer;
		border-bottom: 2px solid none;
		color: $text-color;
		text-shadow: #ddd 1px 1px 1px;
		transition: 200ms;

		i {
			margin-right: 7px;
			color: $icon-color;
			text-shadow: none;
		}

		&.highlight {
			color: $secondary-color;
		}

		&.active, &:hover, &:active  { @include hover-state; }
	}

	&.active a {
		@include hover-state;
	}
}